<div class="subinputs" *ngFor="let subInput of val.subInputs; let a = index">
  <div class="card">
      <div class='card-body'>
        <div class="form-group">

          <!-- If parent input is Radio -->
          <div class="condition" *ngIf="val.type == 1">
            <div>
              <label>Equals</label>
              <select (ngModelChange)="saveChanges()" class="form-control" name="equals" [(ngModel)]="subInput.equals">
                <option value="1">Equals</option>
              </select>
            </div>
            <div>
              <label>Condition</label>
              <select (ngModelChange)="saveChanges()" class="form-control" name="equals" [(ngModel)]="subInput.condition">
                <option value="yes">Yes</option>
                <option value="no">No</option>
              </select>
            </div>
          </div>
          <!-- -->

          <!-- If parent input is text -->
          <div class="condition" *ngIf="val.type == 2">
            <div>
              <label>Equals</label>
              <select (ngModelChange)="saveChanges()" class="form-control" name="equals" [(ngModel)]="subInput.equals">
                <option value="1">Equals</option>
              </select>
            </div>
            <div>
              <label>Condition</label>
              <input (ngModelChange)="saveChanges()" class="form-control" type="text" name="condition" [(ngModel)]="subInput.condition"/>
            </div>
          </div>
          <!-- -->

          <!-- If parent input is number -->
          <div class="condition" *ngIf="val.type == 3">
            <div>
              <label>Equals</label>
              <select (ngModelChange)="saveChanges()" class="form-control" name="equals" [(ngModel)]="subInput.equals">
                <option value="1">Equals</option>
                <option value="2">Greater than</option>
                <option value="3">Less than</option>
              </select>
            </div>
            <div>
              <label>Condition</label>
              <input (ngModelChange)="saveChanges()" class="form-control" type="number" name="condition" [(ngModel)]="subInput.condition"/>
            </div>
          </div>
          <!-- -->

          <div>
            <label>Question</label>
            <input (ngModelChange)="saveChanges()" class="form-control" type="text" name="question" [(ngModel)]="subInput.question"/>
          </div>
          <div>
            <label>Type</label>
            <select (ngModelChange)="saveChanges()" class="form-control" name="type" [(ngModel)]="subInput.type">
              <option value="1">Yes / No</option>
                <option value="2">Text</option>
                <option value="3">Number</option>
            </select>
          </div>
          <div>
              <button (click)="addSubInput(subInput)" class="btn btn-success">Add Sub-input</button>
              <button (click)="removeSubInput(subInput)" class="btn btn-danger">Delete</button>
          </div>
        </div>
      </div>
    </div>
    <app-subinputs *ngIf="isSubinput(subInput)" (saveChangesEvent)="saveChanges()" (subinputEvent)="addSubInput($event)" class="width" [val]="subInput"></app-subinputs>
  </div>