<div (ngModelChange)="saveLocal()">
<button *ngIf="isForm" (click)="showFormView()" type="button" class="btn btn-dark btn-lg">{{preview}}</button>
<div class="row" *ngFor="let val of form; let i = index">
  <div class="card">
    <div class='card-body'>
      <div class="form-group">
        <div class="margin_bottom">
          <label>Question</label>
          <input class="form-control" type="text" name="question" [(ngModel)]="val.question"/>
        </div>
        <div class="margin_bottom">
          <label>Type</label>
          <select class="form-control" name="type" [(ngModel)]="val.type">
            <option value="1">Yes / No</option>
            <option value="2">Text</option>
            <option value="3">Number</option>
          </select>
        </div>
        <div class="margin_bottom object_buttons">
          <button (click)="addSubInput(val)" class="btn btn-success">Add Sub-input</button>
          <button (click)="removeElement(val)" class="btn btn-danger">Delete</button>
        </div>
      </div>
    </div>
  </div>

  <app-subinputs class="margin_top width" [val]="val"></app-subinputs>

</div>

<button
  class="btn btn-success btn-lg margin_bottom"
  (click)="addInput(val)"
>
  Add input
</button>

<button
  class="btn btn-success btn-lg margin_bottom"
  (click)="downloadFile()"
>
  Export file
</button>
<a id="downloadAnchorElem" style="display:none"></a>
<app-view *ngIf="formView" [form]="form"></app-view>

<div>