<div class="subinputs">
  <div *ngIf="val.type == 1">
    <div *ngFor="let subInput of val.subInputs; let a = index">
      <div *ngIf="checkEquals(val.value, subInput.condition)">
        <div class="card">
          <app-card [subInput]="subInput"></app-card>
        </div>
        <app-view-subinputs class="width" [val]="subInput"></app-view-subinputs>
      </div>
    </div>
  </div>


  <div *ngIf="val.type == 2">
    <div *ngFor="let subInput of val.subInputs; let a = index">
      <div *ngIf="checkEquals(val.value, subInput.condition)">
        <div class="card">
          <app-card [subInput]="subInput"></app-card>
        </div>
        <app-view-subinputs class="width" [val]="subInput"></app-view-subinputs>
      </div>
    </div>
  </div>

  <div *ngIf="val.type == 3">
    <div *ngFor="let subInput of val.subInputs; let a = index">
      <div *ngIf="checkEqualsNumber(val.value, subInput.condition, subInput.equals)">
        <div class="card">
          <app-card [subInput]="subInput"></app-card>
        </div>
        <app-view-subinputs class="width" [val]="subInput"></app-view-subinputs>
      </div>
    </div>
  </div>
</div>