/* You can add global styles to this file, and also import other style files */
.btn-dark {
    right: 25px;
    position: absolute;
    z-index: 2
}
.row {
    margin-top: 25px;
}
.margin_bottom {
    margin-bottom: 25px;
}
.margin_bottom.btn-lg {
    margin-top: 25px;
}
.margin_top > .card {
    margin-top: 25px;
}

.object_buttons button.btn-success {
    margin-right: 15px;
}
.subinputs {
    width: 100%;
    margin-left: 25px;
    margin-top: 25px;
}
.card {
    width: 100%;
}
.card .btn {
    margin-top: 15px;
}
.width {
    width: 100%;
}
.condition > div:first-child {
    float: left;
    width: 49%;
}
.condition > div:last-child {
    float: right;
    width: 49%;
}
.form_viewer {
    position: fixed;
    width: 100%;
    height: 100%;
    background: white;
    z-index: 1;
    top: 0;
    left: 0;
    overflow: scroll;
}